//
//  secrets.example.xcconfig
//  Column
//
//  Created by Stephen Wu on 5/10/19.
//  Copyright © 2019 Stephen Wu. All rights reserved.
//

// ********************************
//
// This is an example secrets file. To use it:
//
// 1. In this same directoy, create a secrets.xcconfig file
// 2. Replace "YOUR_SECRETS_HERE` with the appropriate keys

// Google places key can be generated here https://developers.google.com/places/web-service/get-api-key
GOOGLE_PLACES_API_KEY = YOUR_SECRETS_HERE
